<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Community Chest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../img/favicon.png">
  
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/scripts.js"></script>

  <script>
  function onSave()
  {
    var form = document.forms[0];
    var form1 = document.forms[1];
    var project = {
      id : form.id.value,
      name : form.name.value,
      header : form.header.value,
      body : form.body.value,
      location : {
        lat : form.lat.value,
        long : form.long.value
      },
      icon : form.icon.value,
      amount : form1.amount.text
    };
    msgData = JSON.stringify(project);

    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
    }
    xmlhttp.onreadystatechange = function()
    {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
      {
        setTimeout(function() { location.reload(); }, 0 );
      }
      $('#pleaseWait').hide();
    }
    xmlhttp.open('POST', '../saveProject', true);
    xmlhttp.setRequestHeader('Content-Type', 'application/json');
    xmlhttp.send(msgData);

    $('#pleaseWait').show();
  }

  function onPay()
  {
    var form = document.forms[1];
    var prj = document.forms[0];
    var data = {
      id : prj.id.value,
      amount : form.payamount.value
    };
    msgData = JSON.stringify(data);

    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
    }
    xmlhttp.onreadystatechange = function()
    {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
      {
        setTimeout(function() { location.reload(); }, 0 );
      }
      $('#pleaseWait').hide();
    }
    xmlhttp.open('POST', '../payment', true);
    xmlhttp.setRequestHeader('Content-Type', 'application/json');
    xmlhttp.send(msgData);

    $('#pleaseWait').show();
  }

  </script>
</head>

<body>
<h1 align="center">Community Chest</h1>
<div class="modal hide" id="pleaseWait" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <center><h1>Processing ...</h1></center>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>
</div>

<p style="height:32;">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
     <a href="../findOrCreate.html">
       <button class="btn btn-success" type="button">Find Projects</button>
     </a>
    </div>
    <div class="span6">
      <form action="javascript:onSave()">
        <img src="{{icon}}" >
        <input type="hidden" value="{{id}}" id="id">
        <br>
        <div class="form-group">
        <input class="form-control" type="text" value="{{icon}}" id="icon">
        </div>
        <label>Project name</label><input type="text" value="{{name}}" id="name">
        <label>Tagline</label><input type="text" value="{{header}}" id="header">
        <label>Description</label><textarea id="body" rows="8">{{body}}</textarea>
        <label>Latitude</label><input type="text" value="{{location.lat}}" id="lat">
        <label>Longitude</label><input type="text" value="{{location.long}}" id="long">
        <img src="http://www.projectmanager.com/images/showcase/gantt-charts-1.jpg"/>
        <p><button type="submit" class="btn">Save</button>
      </form>
    </div>
  <div class="span4">
    <iframe style="vertical-align: middle" src="../map.html" width="192px" height="192px"></iframe>
    <form action="javascript:onPay()">
        <h2>£<input type="hidden" id='amount' value='{{amount}}'>{{amount}}</h2>
        <label>Pay £</label><input type="text" id="payamount">
        <p><button type="submit" class="btn"><img src="https://www.paypalobjects.com/en_US/i/logo/pp_secure_213wx37h.gif"> Contribute</button>
    </form>
  </div>
</div>
</body>
</html>
